params {

    sample_sheet = ""  // Path to the sample sheet
    param_sheet = ""  // Path to the parameter sheet 
    pod5_dir = ""  // Path to the parent directory containing sample subdirectories with POD5 files
    fast5_dir = ""  // Path to the parent directory cotnaining sample subdirectories with FAST5 files
    genbank_dir = ""  // Path to the directory containg reference GenBank-format files
    projectname = "Noname"  // Project name to show up on the final PDF report

    fasta_ref = false  // Saving reference FASTA files created
    aligned_bam = true  // Saving aligned BAM files created
    indexed_bam = false  // Saving indexed BAM files files created
    bedMethyl = true  // Saving modkit output (bedMethyl table) files created
    html_file = true  // Saving summary html report created

    model = "5mC_5hmC" // Dorado basecalling model
    model_path = ""  // Full path to the dorado basecaller model

    mod_5mC_threshold = 0.7  // 5mC methylation threshold of modification score (ML tag)
    mod_5hmC_threshold = 0.7  // 5hmC methylation threshold of modification score (ML tag)
    mod_4mC_threshold = 0.7  // 4mC methylation threshold of modification score (ML tag)
    mod_6mA_threshold = 0.7  // 6mA methylation threshold of modification score (ML tag)

    parallel_runs = 9  // Maximum number of samples to run in parallel for the process runDorado
    dorado_batchsize = 64  // Dorado batchsize
    dorado_device = "cuda:0"  // GPU device on your system to run Dorado on

}

process {

    withName: runDorado {

        maxForks = params.parallel_runs  // Maximum number of samples to run in parallel for the process runDorado

    }

}

includeConfig 'conf/base.config'  // Including basic process configuration options