process {
    container = "docker_test" 
}

docker {
    enabled = false
}

params {
    sample_sheet = ""
    param_sheet = ""
    pod5_dir = ""
    genbank_dir = ""
    projectname = "Noname"
    fasta_ref = "false"
    aligned_bam = "true"
    indexed_bam = "false"
    bedMethyl = "true"
    model = "5mC_5hmC"
    model_path = ""
    html_file="false"
    mod_m_threshold="0.66"
    mod_h_threshold="0.66"
    mod_a_threshold="0.66"
}